<table class="table table-striped">
  <thead>
    <tr>
      <th scope="Name"></th>
      <th scope="Preview"></th>
      <th scope="Download"></th>
      <th scope="Remove"></th>
    </tr>
  </thead>
  <tbody>
    <% files.each do |file|%>

      <tr>
        <td>
          <%= link_to "Preview", rails_blob_path(file, disposition: "preview"), {class: "btn btn-primary col-md-12"} %>
        </td>
        <td>
          <%= link_to file.filename, rails_blob_path(file, disposition: "attachment"), {class: "btn btn-success col-md-12"} %>
        </td>
        <td>
          <%= link_to "Remove", delete_file_document_path(id: params[:id], file_id: file.id),
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      class: "btn btn-danger  bg-secondary col-md-12" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>